*~
.DS_Store
.htaccess
.svn
.cvs
*.bak
*.swp
Thumbs.db

xmlrpc.php
WzLqzZA2C8BDOBb.zip
test
sitemap.xml
sitemap-news.xml
ScriptSectionOpen.php
robots.txt
readme.html
postlog.txt
pinterest-516e6.html
picture_library
phpinfo.php
Pages/*
online-banks.php
nmdFsXTtaQC0z6O.zip
mt_images
low_interest_credit_cards.php
LifeLock.html
license.txt
LCCalc.php
KlATeqv2Zf7O59j.zip
insurance.com.qs.js
ING-Direct.php
img
IberiaBank.php
hosting.php
googlefaf4734696cff237.html
google-news-sitemap.xml
go.php
go
favicon.ico
favicon copy.ico
EYFeWpnTUkOlwLo.zip
Documents/*
deals.php
csszip.php
css
CreditCards/*
com_widgets/*
cards2.php
cards.php
CardOffersDB.php
Balance_Transfer_Cards.php
auction.php
apple-touch-icon.png
apple-touch-icon-precomposed.png
amazon.php
99-Painless-Ways-to-Save-Money.pdf
amazon copy.php
ways-to-save.php

# wordpress specific
wp-config.php
wp-content/uploads/
/wp-content/uploads/
wp-content/mu-plugins/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mysql.sql

# unused themes
/wp-content/themes/twentysixteen
/wp-content/themes/twentyten

# wp core (as of 3.4.1)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php

wp-content/upgrade
wp-content/updraft
wp-content/tablepress-custom.min.css
wp-content/tablepress-custom.css
wp-content/tablepress-combined.min.css
wp-content/infinitewp
wp-content/index.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi