#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	margin-top: rem-calc(60);
	background: $primary-blue-lt;

	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}

	p {color: #fff}

	a {color:#fff}

	h6 {
	    font-size: 0.9em;
	    text-transform: uppercase;
	    /*color: #34b446;*/
	    color:#fff;
	    font-weight: bold;
	    /*border-bottom: 1px solid #34b446;*/
	    border-bottom: 1px solid #fff;
	}

	#featuredOn {

			.huff {display: block;width: 100%; background: url('../images/asseen/huff.jpg'); background-size:100%;
			display:block; float:left;
			}
			.forbes {display: block; margin-top:10px; width: 100%; background: url('../images/asseen/forbes.jpg'); background-size:100%;
			display:block; float:left;
			}
			.usn {display: block;width: 50%; background: url('../images/asseen/usn.jpg'); background-size:100%;
			display:block; float:left;
			}
			.df {display: block;width: 50%; background: url('../images/asseen/df.jpg'); background-size:100%;
			display:block; float:left;
			}

			.huff img,
			.forbes img,
			.usn img,
			.df img
			{opacity:0;
			    -webkit-transition: all 1s ease;
   				-moz-transition: all 1s ease;
   				-o-transition: all 1s ease;
    			transition: all 1s ease;}
			
			.huff img:hover,
			.forbes img:hover,
			.usn img:hover,
			.df img:hover
			{opacity:1;
				-webkit-transition: all 1s ease;
   				-moz-transition: all 1s ease;
   				-o-transition: all 1s ease;
    			transition: all 1s ease;}


		}

	.footerColumn .first {    min-height: 160px;}

	.social-links li {
	display: inline;
    font-size: 2em;
    padding-right: 0.5em;}

    .copyright {
    color: #fff;
    margin: 10px 0 40px 0;
    text-align: center;
	}

    .disclaimers {
    font-size: .6em;
    margin: 30px auto !important;
    display: block;
    float: none;
    text-align: left;}
}

