/*Fix flickering menu */ .top-bar {display:none}


/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
  @include show-for(large);
}

#mobile-menu, .title-bar {
  @include hide-for(large);
}

/* Mobile menu */

.off-canvas {
  ul#menu-main-menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

/* Tablet and desktop menu */
.top-bar {

  .menu .home a {
    font-size: 1rem;
    color: $primary-grey;
  }

  .menu a {
    line-height: 60px !important;
    color: $primary-grey;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: normal;
    line-height: 1;

    &:hover:not(.button) {
      color: $primary-green;
    }
  }

  .menu>li:not(.menu-text)>a { padding: 0 1rem 0 1rem; }
  .menu li:not(:last-child) { }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
  .is-dropdown-submenu-parent.is-down-arrow > a::after { display: none; }
}
