.sidebar {
  @include breakpoint(small) {
    @include grid-column(12);
  }

  @include breakpoint(medium) {
    @include grid-column(4);
    margin-top: 1rem;
  }
}

.sidebar h6 {
    font-size: 0.9em;
    text-transform: uppercase;
    /*color: #34b446;*/
    color: $primary-grey;
    font-weight: bold;
    border-bottom: 1px solid $primary-grey;
}

.sidebar ul {
    list-style: none !important;
}

.email_sidebar {
    background: #eee;
    border: 1px solid #0d72c7;
    padding: 15px 15px 10px 15px;
    margin: 0 0 20px 0;

    h3 {
    color: #0d72c7;
    font-weight: bold;
    line-height: 1em;
    font-size: 1.4em;
    }
}

/* TEMPORARY */
.wpp-thumbnail {
    display: inline;
    float: left;
    margin: 0 5px 0 0;
    border: none;
    height: 50px;
    width: auto;
}

.wpp-list li {
    margin-bottom:10px;
}