.sidebar {
  @include breakpoint(small) {
    @include grid-column(12);
  }

  @include breakpoint(medium) {
    @include grid-column(4);
    margin-top: 1rem;
  }
}

.sidebar h6 {
    font-size: 1.3em;
    padding: 0 0 5px 0;
    text-transform: uppercase;
    color: #6d6e72;
    font-weight: bold;
    border-bottom: 2px solid #2bb673;
}

.sidebar {

    ul {
    list-style: disc !important;
    color: $primary-grey
    }

    li {    line-height: 1.5em;
    margin-bottom: .5em;
    list-style: none;
    }
}

.email_sidebar {
    color: #fff;
    padding: 15px 15px 10px 15px;
    margin: 0 0 20px 0;
    background: #fff;
    border: 2px solid $primary-blue;

    h3 {
    color: $primary-green;
    font-weight: bold;
    line-height: 1em;
    font-size: 1.4em;
    }

    p {color: $primary-blue;}

    .button {background:#0b61a9; font-weight:bold; border: 2px solid $primary-blue;}
    .button:hover {color:$primary-blue; background:#fff; border: 2px solid $primary-blue;}
}

.main-content .email_sidebar h3 {font-size: 2em; margin: .1em 0em 1em 0em}

