.sidebar {
  @include breakpoint(small) {
    @include grid-column(12);
  }

  @include breakpoint(medium) {
    @include grid-column(4);
    margin-top: 1rem;
  }
}

.sidebar h6 {
    font-size: 0.9em;
    text-transform: uppercase;
    /*color: #34b446;*/
    color: $primary-grey;
    font-weight: bold;
    border-bottom: 1px solid $primary-grey;
}

.sidebar {

    ul {
    list-style: disc !important;
    color: $primary-grey
    }

    li {    line-height: 1.5em;
    margin-bottom: .5em;
    }
}

.email_sidebar {
    /*background: #eee;*/
    background: $primary-blue-lt;
    border: 1px solid $primary-blue;
    color: #fff;
    padding: 15px 15px 10px 15px;
    margin: 0 0 20px 0;

    h3 {
    color: #fff;
    font-weight: bold;
    line-height: 1em;
    font-size: 1.4em;
    }

    .button {background:#0b61a9; font-weight:bold; border: 2px solid $primary-blue;}
    .button:hover {color:$primary-blue; background:#fff; border: 2px solid $primary-blue;}
}

.email_sidebar.two, .email_sidebar.three {
    background: #fff;
    border: 2px solid $primary-blue;

    h3 {
    color: $primary-blue;
    }

    p {color: $primary-blue;}
}

.email_sidebar.three {
    h3 {color: $primary-green}
}


/* TEMPORARY */
.wpp-thumbnail {
    display: inline;
    float: left;
    margin: 0 5px 0 0;
    border: none;
    height: 50px;
    width: auto;
}

.wpp-list li {
    margin-bottom:10px;
}