/* GENERAL STYLES AND COLORS */

$lightgrey: #eee;
$darkblue: #252839;


/* SITE HEADER  STYLES */

.site-header {
  height: 50px;
  border-bottom: 1px solid $lightgrey;

  .menu img {
      display: inline-block;
      margin-right: 0.25rem;
      max-height: 100%;
  }

}


.top-bar {
  background-color: #FFF;
  ul {
      background-color: #FFF;
  }
  .menu a {
    color: $darkblue;
  }

  .top-bar-left .menu > li:not(.menu-text) > a {
    padding: 5px;
  }
}
