body {padding-top:30px;}
body.home {padding-top:85px;}


/* SITE HEADER  STYLES */

.site-header {
  position:fixed;
  width: 100%;
  top:0px;
  background: #fff;
  z-index: 99999999;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);

  .menu img {
      display: inline-block;
      margin-right: 0.25rem;
      max-height: 100%;
      padding-bottom: 5px;
      max-width: 180px;
  }

}


.top-bar {
  background-color: transparent;
  ul {
  	background: none;
   	float: left;
    display: block;
  }

  form {
    display: block;
    float: left;
    width: 250px;
    overflow: hidden;
    padding: 10px;
    height: 60px;
  }
  .menu a {
    color: $primary-blue;
    font-size: 0.9em;
    line-height: 60px;
  }

  .top-bar-left .menu > li:not(.menu-text) > a {
    height: 50px;
  }

   .top-bar-right input {
    padding-bottom: 11px;
  }


}



/* HOME PAGE */

.hero {
    background-color: #fff;
    overflow: hidden;
 
    .intro {
      padding: 3rem 3rem 3rem 3rem;
      position: relative;
      /*top: 50%;*/
      /*transform: translateY(-50%);*/
    }
    h1 {
      color: #fff;
      font-size: 1.5rem;
      line-height: 1.5em;
      letter-spacing: -0.025em;
      font-weight: 800;
      text-align: center;
    }
    p {
      color: #fff;
      line-height: 2.5em;
      font-weight: 800;
      text-align: center;
      margin-bottom: 2rem;
    }
}
 

@media only screen and (min-width: 40.063em) {

  .hero {
    background: url('../images/herodesktop.jpg') no-repeat center right;
    background-size: cover;

  .small-centered.medium-uncentered.medium-7.large-8.columns {float:right;}

  h1 {
      font-size: 4.5rem;
      line-height: 1em;
      text-shadow: 3px 3px 4px #888888;
    }
  
  p {text-shadow: 1px 1px 2px #888888;}
  }

  .button {border-bottom:1px solid #000;}
}



.key_pages {
    margin: 10px 0 10px 0;
    padding: 25px 0 25px 0;

  .key_link {
    color:$primary-grey;
    text-align:center;
    border-bottom:3px solid #fff;

    &:hover {border-bottom:3px solid $primary-grey}

    .key_icon { font-size:3em; }

    h3{ font-size: 1em; }
  }


}


.latest-posts {
  margin: 10px 0 10px 0;
  padding: 25px 0 0px 0;

  .columns {}
  
  h2{
    font-size: 1em;
    color: $primary-blue;
    border-bottom: 2px solid $primary-blue;
    border-right: 1em solid $primary-blue;
    margin-bottom: 1em;
  }

  h4 {
    font-size:1em;
    margin-top:10px;

    a {color:$primary-grey;}

  }

  p a.button{background: #36B348;}

  .home_thumb {
    overflow: hidden;
    height: 150px;

    img {width:100%;}
  }
}


.home_signup {
    background: $primary-blue-lt;
    color: #fff;
    text-align:center;

    .center {display:block; margin: 2em auto; float:none;}

    input {width: 100%;}


}






/* Entry Meta */

.article__author {
    font-size: 14px;
    color: #929292;
    padding: 4px 0;
    margin-bottom: 20px;
  

    .author__image {
    float: left;
    margin-right: 15px;
    -webkit-border-radius: 100px; 
    -moz-border-radius: 100px; 
    border-radius: 100px;
    overflow: hidden;
    }

    .author {
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    line-height: 14px;
    margin-top: 8px;
    color: #464646;
    }

    .time_cat_spacer {padding: 0}

    .post-cat {}

}

.entry_meta_social {
            margin-bottom: 20px;
          display: block;
           overflow: hidden;

        .ems{
          background: $primary-blue;
          text-align: center;
          border-radius: 200px;
          display: block;
          float: left;
          width: 30px;
          height: 30px;
          line-height: 30px;
          padding: 0 0 0 0;
          margin-right: 5px;

          a {color: #fff;  padding: 0 0 0 0;}

             }


        .facebook.ems {background: #3b5998;}

        .twitter.ems {background: #4099FF;}

        .pinterest.ems {background: #C92228;}

        .linkedin.ems {background: #007bb5;}

        .email.ems {}




}


