body {padding-top:30px;}
body.home {padding-top:85px;}

table tbody{
    border: 0px
}

.tablepress th {
border: 0px solid #FFF; 
}

/**
 * 8.0 - Alignments
 */

.alignleft {
  float: left;
  margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
  float: right;
  margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em;
}

blockquote.alignleft {
  margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
  margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
  margin-bottom: 1.473684211em;
}




/* SITE HEADER  STYLES */

body.logged-in {
  padding-top: 70px;

  .site-header {top:32px;}

}


@media only screen and (max-width: 782px) {
  body.logged-in {
  padding-top: 84px !important;
  }
  body.logged-in .site-header {top:46px !important;}
}

@media only screen and (min-width:640px) and (max-width: 782px) {

    body {
      padding-top: 100px !important;
      }

      body.logged-in {
        padding-top: 120px !important;
      }
  }

.site-header {
  position:fixed;
  width: 100%;
  top:0px;
  background: rgba(255,255,255,.9);
  z-index: 99999999;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);

  .menu img {
      display: inline-block;
      margin-right: 0.25rem;
      max-height: 100%;
      padding-bottom: 5px;
      max-width: 180px;
  }

}

/* MEDIA QUERIES TO STOP HEADER BREAKING */
@media only screen and (max-width: 1195px) {
  .site-header {
      .menu img {
      max-width: 150px;
      padding-top: 3px;
      }
  .top-bar .menu > li:not(.menu-text) > a {
      padding: 0 .7rem 0 .7rem;
      }
     
  }
}

@media only screen and (max-width: 1115px) {
  .site-header {
      .menu img {
      max-width: 140px;
      }
      .top-bar .menu > li:not(.menu-text) > a {
      padding: 0 .5rem 0 .5rem;
      }
  }
}

@media only screen and (max-width: 1030px) {
  .site-header {
      .top-bar .menu > li:not(.menu-text) > a {
      padding: 0 .4rem 0 .4rem;
      }
  }
}

/*@media only screen and (max-width: 975px) {
  .site-header {
      .menu img {
      max-width: 130px;
      }
      .top-bar .menu > li:not(.menu-text) > a {
      padding: 0 .3rem 0 .3rem;
      font-size: 0.8em;
      }
      .top-bar form {width: 160px;}
      .top-bar .top-bar-right .small-8.columns {max-width:50px;}
      .top-bar .top-bar-right .small-4.columns {min-width:65px;}

  }

}

@media only screen and (max-width: 796px) {
  .site-header {
      .top-bar .menu > li:not(.menu-text) > a {
      padding: 0 .3rem 0 .3rem;
      font-size: 0.6em;
      }

  }
}

@media only screen and (max-width: 796px) {
  .site-header .top-bar form {
    display:none;
  }
}


/* //// MEDIA QUERIES TO STOP HEADER BREAKING */


.top-bar {
  background-color: transparent;
  ul {
  	background: none;
   	float: left;
    display: block;
  }

  form {
    display: block;
    float: left;
    width: 250px;
    overflow: hidden;
    padding: 10px;
    height: 60px;
  }
  .menu a {
    color: $primary-blue;
    font-size: 0.9em;
    line-height: 60px;
  }

  .top-bar-left .menu > li:not(.menu-text) > a {
    height: 50px;
  }

   .top-bar-right input {
    padding-bottom: 11px;
  }

}

@media only screen and (max-width: 63.9em) {

  .top-bar-right {
      width: 100%;
      height:59px;
    }
  }


.title-bar {
    background-color: transparent;
    color: #fefefe;
    padding: 0.5rem;

    .title-bar-title {
          max-width: 200px;
          padding: 5px 0 0 0;
    }
}

.menu-icon::after {
    background: #cacaca;
    box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca;
}

.menu-icon:hover::after {
    background: #000;
    box-shadow: 0 7px 0 #000, 0 14px 0 #000;
}

.vertical.menu {
    background: rgba(255,255,255,.8);
    float: left;
    width: 103%;
    margin: 0 -0.3em;
      -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}



/* HOME PAGE */

.hero {
    background-color: #fff;
    overflow: hidden;
    background: url('../images/herodesktop.jpg') no-repeat center left;
    background-size: cover;
 
    .intro {
      padding: 3rem 3rem 3rem 3rem;
      position: relative;
      /*top: 50%;*/
      /*transform: translateY(-50%);*/
    }
    h1 {
      color: #fff;
      font-size: 3rem;
      line-height: 1em;
      letter-spacing: -0.025em;
      font-weight: 800;
      text-align: center;
    }
    p {
      color: #fff;
      line-height: 1.5em;
      font-weight: 800;
      text-align: center;
      margin-bottom: 2rem;
    }
}
 

@media only screen and (min-width: 40.063em) {

  .hero {

  .small-centered.medium-uncentered.medium-7.large-8.columns {float:right;}

  h1 {
      font-size: 4.5rem;
      line-height: 1em;
      text-shadow: 3px 3px 4px #888888;
    }
  
  p {text-shadow: 1px 1px 2px #888888;}
  }

  .button {border-bottom:1px solid #000;}
}



.key_pages {
    margin: 10px 0 10px 0;
    padding: 25px 0 25px 0;

  .key_link {
    color:$primary-grey;
    text-align:center;
    border-bottom:3px solid #fff;
    transition: all 0.5s ease;

    &:hover {border-bottom:3px solid $primary-blue; color:$primary-blue;}

    .key_icon { font-size:3em; }

    h3{ font-size: 1em; }
  }


}


.latest-posts {
  margin: 10px 0 10px 0;
  padding: 25px 0 0px 0;

    .columns {

          .inner {
          border: 1px solid lightgrey;
          padding: 10px 10px 0px 10px;
          overflow: hidden;
          transition: all 0.5s ease;

            &:hover {border: 1px solid $primary-blue; background:$primary-blue;}
            &:hover h4{color:#fff;}

          }
    
          h2{
            font-size: 2em;
            line-height: 2em;
            color: #0d72c7;
            border-bottom: 2px solid #0d72c7;
            /* border-right: 1em solid #0d72c7; */
            margin-bottom: 1em;
            text-align: center;
          }

          h4 {
            font-size:1em;
            margin-top:10px;
            min-height: 70px;
            transition: all 0.5s ease;

            a {color:$primary-grey;}

            &:hover {color:#fff;}

          }

          p a.button{background: #36B348;
            display: block;
            width: 100px;
            font-weight: bold;
            float: right;
            position: relative;
          }

          .home_thumb {
            overflow: hidden;
            height: 150px;

            img {min-height:100%;}
          }
    }
    
}

.podcast .columns.blocks {

      h4 {min-height: 5px; padding-bottom:5px;}

      .home_thumb {
            overflow: hidden;
            height: 250px;
          }
}

.podcast .columns.blocks.podright {

    h4 {
      border-bottom: 1px dotted lightgrey;
    min-height: 5px;
    text-indent: -10px;
    padding: 0 0 5px 20px;
    }

    .fa {margin-right:10px;}
}

.resources-guides .columns.blocks {
    h4 {
    border-bottom: 1px dotted lightgrey;
    min-height: 5px;
    text-indent: -10px;
    padding: 5px 0 5px 20px;
    }
}


.home_signup {
    background: $primary-blue-lt;
    color: #fff;
    text-align:center;

    .center {display:block; margin: 2em auto; float:none;}

    input {width: 100%;}

    input[type="submit"] {width:100%;}


}

@media only screen and (max-width: 40em) {

 .latest-posts.popular .columns.blocks {
    margin-bottom: 10px !important;
}

 .latest-posts.popular .columns.blocks:nth-child(4) {
    clear:left;
}

  }






/* Entry Meta */

.article__author {
    font-size: 14px;
    color: #929292;
    padding: 4px 0;
    margin-bottom: 20px;
    float: left;
    width: auto;
    overflow: hidden;
    display: inline-block;
    min-width: 45%;
  

    .author__image {
    float: left;
    margin-right: 15px;
    -webkit-border-radius: 100px; 
    -moz-border-radius: 100px; 
    border-radius: 100px;
    overflow: hidden;
    }

    .author {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 14px;
    margin-top: 8px;
    color: #464646;
    display: block;
    }

    .post-time {display:inline-block; clear: left;}

    .time_cat_spacer {padding: 0}

    .post-cat {}

}

@media only screen and (max-width: 40em) {
  .article__author {
    min-width: 100%;
               }

  .entry_meta_social {float:left; width:100%; display:block; margin-top:-10px;}
}

.entry_meta_social {
            margin-bottom: 20px;
          display: block;
           overflow: hidden;

        .ems{
          background: $primary-blue;
          text-align: center;
          border-radius: 200px;
          display: block;
          float: left;
          width: 30px;
          height: 30px;
          line-height: 30px;
          padding: 0 0 0 0;
          margin: 10px 5px;

          a {color: #fff;  padding: 0 0 0 0;}

             }


        .facebook.ems {background: #3b5998;}

        .twitter.ems {background: #4099FF;}

        .pinterest.ems {background: #C92228;}

        .linkedin.ems {background: #007bb5;}

        .email.ems {}

        .disclosure.ems {
          background: none !important;
          text-align: left;
          border-radius: 0px;
          width: auto;
          height: 30px;
          line-height: 30px;
          padding: 0 0 0 0;
          margin: 10px 5px;

            a {color: #0d72c7;font-size: 14px;}

          }

}

.reveal.ad_disclosure {padding: 30px;}

.entry-content {
    display: block;
    clear: left;
    max-width: 620px;
    margin: 0px auto;
}

.post .email_sidebar {margin-top:30px;}

.pagination .current a {color: #fff;}


/* CREDIT CARD BOXES */

.card_box {

  border: 1px solid lightgrey;
  padding:10px;
  font-size:0.8em;
  margin-bottom:15px;

  .columns {padding-left: 0px !important; padding-right: 0px !important;}
  .spacer {color: #fff; opacity:0;}
  .button {width:100%}

  .col.card {padding:0 15px 15px 0 !important;}

  @media only screen and (max-width: 40em) {
    .col.card {padding-right:0px !important; text-align:center;}
  }

  .col_top {margin-bottom:10px;}

  .featured {text-transform: uppercase; color: $primary-blue-lt; margin: 0 0 0 0;}

  h3 {margin-bottom:0px;}
  h4 {
    font-size: 1em !important;
    font-weight: bold;
    margin: 0 0 0 0;}


  .rating {font-size:1.5em;color: gold;
    .blank_star {color:lightgrey;}
  }

  #more, #less {
    /* text-align: center; */
    /* background: lightgrey; */
    /* height: 30px; */
    /* width: 100px; */
    /* overflow: hidden; */
    line-height: 30px;
    /* color: #fff; */
    font-weight: bold;
    margin: 0px auto -10px auto;
  }

}

.card_half {
  max-width:600px;float: left !important;
  font-size:1em;

  .deets {
      border-bottom: 1px solid lightgrey; margin-top:15px;

      span {
        display: block;
        text-align:right;
        line-height: 1em;}

    }


}


/* EMAIL POPUP */

.email_popup {
  border: 5px solid $primary-blue;
  background: #fff url(../images/DR-coin-315px.png) no-repeat -50px -50px;

  .right_side {background: rgba(255,255,255,0.8); float: right; width: 370px; padding: 0px 15px 0px 15px; display:block; overflow:hidden;}

  h1 {color:$primary-blue;
    font-size: 1.8em;
    line-height: 1em;
    font-weight: bold;}

  .free {color:$primary-blue-lt;text-transform: uppercase;}

  ul {}

  li {    text-indent: -25px;
    margin-left: 5px;
    list-style: none;}

  li:before {content:">> "; font-weight:bold; color: $primary-blue;}

  input {width:48%; margin-right:1%; float: left; display:inline;}

  input[type=submit] {width:99%;}

  #featuredOn {
    width: 100%;
    background:$primary-blue;
    display:block; overflow:hidden;
      img {max-height:10px;
      }
  }

  .close-button {}


}

 @media only screen and (min-width: 700px) {
    .email_popup {
    width: 650px !important;
    max-width:650px;
  }
}

/* COMMENTS ON POSTS */

#comments {

  ol.comment-list {list-style:none; margin: 0 0 0 0}

  li.comment {background:#eee; padding: 20px; margin: 0 0 10px 0}

  .comment-author {font-size: 0.9em;}

  .reply {font-size: 0.9em;}

  ul.children {list-style:none}

  .children .comment.parent {margin-top: 10px; background: rgba(255,255,255,0.5)}

  .children .children {margin-top:10px}

}

