#single-post {
  @include grid-row();
  margin-top: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }
  }
}

#single-post.no-sidebar .main-content {
    margin: 0px auto;
    display: block;
    float: none;
}


.wf-privacyico {
    padding: 4px 0 0 20px !important;
    background: url(/assets/images/lock.png) no-repeat left center !important;
}

.wf-privacy {
    font-family: Arial !important;
    font-size: 12px !important;
    color: #303030 !important;
    font-weight: normal !important;
    font-style: italic !important;
    text-decoration: none !important;
    text-align: center !important;
}


.related_posts  {

  div {  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; font-weight:bold !important;}

  a {border-right: none !important; }

}




/* TABLE OF CONTENTS IN POSTS*/
.post_toc {
      color: #0d72c7;
      padding: 0 0 00px 0;
      margin: 0 0 20px 0;
      border-bottom: 2px solid #0d72c7;

  a{color: #0d72c7; }

  ul {

    li {
      
    }

  }

}

@media only screen and (min-width: 40em) {
  .post_toc {
    padding: 0 10px 00px 10px;
    margin: 0 0 10px 10px;
    border-bottom: 0px solid #0d72c7;
    border-left: 2px solid #0d72c7;
    width: 33%;
    max-width: 300px;
    float: right;
    }
}


/* PULL QUOTES */

span.pulled-right {
  display: block;
  float: right;
  padding: 10px 0 10px 10px;
  margin: 5px 0 5px 10px;
  max-width: 170px;
  width: 33%;
  font-size: 1.5em;
  line-height: 1.4em;
  text-align: right;
  color: #666;
  border-left: 3px solid #ccc;
}

span.pulled-left {
    display: block;
    float: left;
    padding: 10px 10px 10px 0;
    margin: 5px 10px 5px 0;
    max-width: 170px;
    width: 33%;
    font-size: 1.5em;
    line-height: 1.4em;
    text-align: left;
    color: #666;
    border-right: 3px solid #ccc;
}