#single-post {
  @include grid-row();
  margin-top: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }
  }
}


.wf-privacyico {
    padding: 4px 0 0 20px !important;
    background: url(/assets/images/lock.png) no-repeat left center !important;
}

.wf-privacy {
    font-family: Arial !important;
    font-size: 12px !important;
    color: #303030 !important;
    font-weight: normal !important;
    font-style: italic !important;
    text-decoration: none !important;
    text-align: center !important;
}